<div class="wrapper">
    <form class="flight-create" method="post" th:action="@{/edit/{id}(id=${flight.id})}">
        <div class="create-header">
            Edit Flight
        </div>
        <div class="create-name">
            <div class="create-label">Departure</div>
            <input class="create-content" name="departure" th:field="${flight.departure}"/>
        </div>
        <div class="create-name">
            <div class="create-label">Destination</div>
            <input class="create-content" name="destination" th:field="${flight.destination}"/>
        </div>
        <div class="create-name">
            <div class="create-label">Status</div>
            <select class="create-submit" name="status" th:field="${flight.status}">
                <option value="Delayed" th:selected="${flight.status.equals('Delayed')}">Delayed</option>
                <option value="Landed" th:selected="${flight.status.equals('Landed')}">Landed</option>
                <option value="Expected" th:selected="${flight.status.equals('Expected')}">Expected</option>
            </select>
        </div>
        <div class="create-button-holder">
            <button type="submit" class="submit-button">Edit</button>
            <a type="button" href="/" class="back-button">Back</a>
        </div>
    </form>
</div>